<!doctype html>
<title>Web Audio Visualizer</title>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src='static/js/drawcanvas.js'></script>
<script src='static/js/printlog.js'></script>
<script src='static/js/ajaxform.js'></script>
<style src='static/css/style.css' type="text/css"></style>

<h1>Upload WAV File</h1>
<form method=post id=uploadform enctype=multipart/form-data>
  <input type=file id=fileselect name=file>
  <input type=submit value=Upload>
</form>
  <div style="max-width:800px">
      <canvas id="canvas" width="800" height="400"></canvas>
  </div>
<br><br>
<label for='logbox'>Log</label><br>
<textarea rows='4' cols='50' id='logbox'></textarea>